@{
    ViewData["Title"] = "Nueva Contraseña";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="clean-card" style="max-width: 450px; width: 100%;">
        <h3 class="fw-bold text-center mb-4 text-primary">Escribe tu nueva contraseña</h3>

        @if (ViewData["MENSAJE_ERROR"] != null)
        {
            <div class="alert alert-danger rounded-3 fw-bold small text-center">
                @ViewData["MENSAJE_ERROR"]
            </div>
        }

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="email" value="@ViewBag.Email" />
            <input type="hidden" name="token" value="@ViewBag.Token" />

            <div class="mb-4">
                <label class="form-label small fw-bold text-muted">NUEVA CONTRASEÑA</label>
                <input type="password" name="newPassword" class="form-control custom-input" required autofocus />
            </div>

            <button type="submit" class="btn-primary-custom w-100 py-3">
                Guardar y Entrar
            </button>
        </form>
    </div>
</div>